<section class="t a5" id="{{parent.id}}">
  <div class="container">

    <h1 class="a5__title">{{title}}</h1>

    <p class="a5__deck">{{body}}</p>

    <ul class="btn-menu">
      {{#each buttons}}
        <li><a href="{{target}}" class="btn">{{title}}</a></li>
      {{/each}}
    </ul>

  </div>
</section>