<section class="t modal po4" id="{{parent.id}}-po">
  <div class="container">

    <button class="icon icon--close modal__close">x</button>

    <h1 class="po4__title">{{title}}</h1>

    <div class="po4__body">

      {{#each items}}
        <blockquote class="bubble {{style}} align-{{placement}}">
          <p>{{text}}</p>
        </blockquote>
      {{/each}}

    </div>

    <button class="icon icon--scroll modal__scroll">scroll down</button>

  </div>
</section>