<section class="t modal po6" id="{{parent.id}}-po" style="background-image: url(/images/fpo-po6-background.jpg);">
  <div class="container">

    <button class="icon icon--close modal__close">x</button>

    <h1 class="po6__title">{{title}}</h1>
    <p class="po6__deck">{{body}}</p>

    {{#with link}}
      <a class="external-link" href="{{target}}" target="_blank"><b>{{text}}</b></a>
    {{/with}}

  </div>
</section>