<section class="t a3">

  {{#with title}}
    <h1 class="a3__title" style="color: {{#with color}}rgba({{r}}, {{g}}, {{b}}, 1){{/with}}">{{title}}</h1>
  {{/with}}
  <h2 class="a3__subtitle">{{subtitle}}</h2>

  {{#each items}}
    <h3 class="a3__deck-title">{{title}}</h3>
    <p class="a3__deck">{{body}}</p>
  {{/each}}

  <ul class="btn-menu btn-menu--single">
    {{#with button}}
      <li><a href="{{target}}" class="btn">{{title}}</a></li>
    {{/with}}
  </ul>

</section>