<section class="t m8">
  <ul class="list-menu">
    {{#each links}}
      <li><a href="{{target}}" class="list-menu__link list-menu__link--with-highlight" style="color: {{#with color}}rgba({{r}}, {{g}}, {{b}}, 1){{/with}}">
        <b>{{highlight}}</b><br>
        {{text}}
      </a></li>
    {{/each}}
  </ul>
</section>