<nav class="site-nav">
  <h1 class="site-nav__ke-title">{{title}}</h1>
  <ul class="site-nav__links" role="navigation">
    {{#each containers}}
      <li><a href="/editions/{{../id}}/containers/{{id}}">{{number}}<b>{{title}}</b></a></li>
    {{/each}}
  </ul>
</nav>

<!-- Site's Header-->
<header class="site-header" role="banner">
  <button class="site-nav__button js-toggle-nav"><i class="ss-icon">=</i></button>
  <h1 class="site-nav__title">{{title}}</h1>
</header>
