<!DOCTYPE html>
<html>
  <head>
    <title>My App {{title}}</title>

    {{{css 'compiled/screen'}}}
  </head>
  <body>

    {{{body}}}

    {{{js 'compiled/vendor'}}}
    {{{js 'compiled/app'}}}
  </body>
</html>