<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>{{params.edition_id}}</p>
    <p>{{params.container_id}}</p>
    <p>{{params.page_id}}</p>
  </body>
</html>